<% @bill_api.each do |bill_info| %>
<% next if bill_info[1]["bill_id"].blank? %>
  <h1><%= bill_info[1]["title"] %></h1>
    <% bill_info[1]["sponsors"].each do |sponsor| %>
    <h2>Sponsor: <%= sponsor["role"]%>. <%= sponsor["name"] %></h2>
  <% end %>
<% end %>

<% @bill_api.each do |bill_info| %>
<% next if bill_info[1]["bill_id"].blank? %>
<p><%= bill_info[1]["description"] %></p>
<% end %>


<% @bill_api.each do |bill_info| %>
<div class="progress-container">
      <ul class="progress-steps">
        <% next if bill_info[1]["bill_id"].blank? %>
          <% bill_info[1]["history"].each do |history| %>
          <li>
          <%= Date.parse(history["date"]) %><br>
          <%= history["action"] %>
          </li>
          <% end %>
        <% end %>
  </ul>
</div>