
<% @bill_api.each do |bill_info| %>
<% next if bill_info[1]["bill_id"].blank? %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Role</th>
      <th>Name</th>
      <th>Party</th>
      <th>District</th>
      <th>Subjects</th>
    </tr>
  </thead>
  <tbody>
    <tr>
<% @bill_api.each do |bill_info| %>
<% next if bill_info[1]["bill_id"].blank? %>
<h2>Sponsors</h2>
    <% bill_info[1]["sponsors"].each do |sponsor| %>
      <td><%= sponsor["role"]%></td>
      <td><%= sponsor["name"]%></td>
      <td><%= sponsor["party"]%></td>
      <td><%= sponsor["district"]%></td>
    <% bill_info[1]["subjects"].each do |subject| %>
      <td><%= subject["subject_name"] %></td>
    <% end %>
    </tr>
  <% end %>
<% end %>
  </tbody>
</table>  

<% @bill_api.each do |bill_info| %>
<% next if bill_info[1]["bill_id"].blank? %>
<p><%= bill_info[1]["description"] %></p>
<% end %>

<div class="container">
<% if @roll_call != nil %>
  <% @roll_call.each do |roll_call| %>
  <div class="results text-center">
    <h2 class="panel panel-default"><%= roll_call[1]["desc"] %></h2>
    <% if roll_call[1]["votes"].class == Array %>
      <% roll_call[1]["votes"].each do |voter| %>
        <% if voter["vote_text"] == "Yea" %>
          <% @yea.push(voter["vote_text"]) %>
        <% elsif voter["vote_text"] == "Nay" %>
          <% @nay.push(voter["vote_text"]) %>
        <% end %>
    <% end %>
  <% end %>
</div>
  <div class="row">
  </div>
</div>
  <% end %>
    <div class="yea panel panel-default col-md-6 text-center"><p>Yea<br> <%= @yea.length %></p></div>
    <div class="nay panel panel-default col-md-6 text-center"><p>Nay<br> <%= @nay.length %></p></div>
<% end %>


<h2 class="text-center">Bill Cycle</h2>

<% @bill_api.each do |bill_info| %>
<div class="progress-container cycle">
  <ul class="progress-steps">
    <% next if bill_info[1]["bill_id"].blank? %>
    <% bill_info[1]["history"].each do |history| %>
    <li><%= Date.parse(history["date"]) %><br>
    <%= history["action"] %></li>
    <% end %>
<% end %>
  </ul>
</div>
  </ul>
</div>
