<!DOCTYPE html>
<html>
<head>
  <title>Poliwag</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'jquery', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'legiscan-constructor', 'jquery', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="row">
		<%= yield %>
	</div>
</div>

</body>
</html>
