<!DOCTYPE html>
<html>
<head>
  <title>Poliwag</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  	<%= stylesheet_link_tag 'application', media: 'all' %>
  	<%= javascript_include_tag 'application', 'jquery' => true %>
  	<%= javascript_include_tag 'legiscan-constructor', 'jquery' %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<%= render partial: "/partials/header", layout: false %>
	
	<div class="container">
		<div class="row">
			<%= yield %>
		</div>
	</div>

</body>
</html>
